.main{
    height: 90vh;
    width: auto;
    display:flex;
    align-items: center;
    justify-content: center;

}
.box {
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px 40px 10px 40px;
    background-color: aquamarine;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    transition: 5s;
}

.box1:hover {
    transform: translate(100px,100px);
}
.box2:hover {
    transform: translateX(100px);
}
.box3:hover {
    transform: translateY(100px);
}
.box4:hover {
    transform: rotate(180deg);
}